# Minecraft server
server.jar

# Minecraft server artifacts
eula.txt
*.json
logs/
server.properties
world/

# supervision artifcats
supervise/
ENV/

# multilog artifacts
files/log/main/

# You know, you really should not be running Minecraft from this git repository
# to begin with.
